body, html, .page, .page-box {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

.owo-animation {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.owo-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owo-animation-forward {
  z-index: 99;
}

img {
  border: none;
}

[route-active="false"] {
  display: none;
}

/* 清除浮动 */
.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
  zoom: 1;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.home {
  background-image: url('../resource/page-531.jpg');
  background-repeat: no-repeat;
}

.home .so {
  position: absolute;
}

.home .so-0 {
  left: 265px;
  top: 93px;
  z-index: 3;
}

.home .so-2 {
  left: 747px;
  top: 580px;
  z-index: 1;
}

.home .so-3 {
  left: 808px;
  top: 895px;
  z-index: 0;
}
.header1 .w1000 {
  width: 1000px;
  margin: 0 auto;
  height: 45px;
}

.header1 {
  background: #fff;
  height: 45px;
  width: 100%;
}

.header1 .left {
  float: left;
  height: 45px;
  width: 90px;
  position: relative;
}

.header1 .left a {
  display: block;
  width: 100%;
  height: 100%;
}

.header1 .left img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.header1 em {
  float: right;
  line-height: 45px;
  font-style: normal;
  font-size: 14px;
}

.header1 em a {
  display: inline-block;
  text-decoration: none;
}

.header1 em a:hover {
  text-decoration: underline;
}

.header1 em,
.header1 em a,
.header1 em a:link,
.header1 em a:visited,
.header1 em a:hover {
  color: #666;
}
.swiper-container-p2 {
  position: relative;
  width: 625px;
  height: 390px;
  margin: 0 auto;
  overflow: hidden;
  color: white;
}

.swiper-container-p2 .swiper-slide {
  width: 625px;
  height: 390px;
  position: relative;
}

.swiper-container-p2 .swiper-slide a {
  display: block;
}

.swiper-container-p2 .swiper-slide span {
  background-color: rgba(0, 0, 0, 0.6);
  height: 64px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 64px;
  font-size: 16px;
}

.swiper-container-p2 .prev {
  background: url(http://www.people.com.cn/img/2016people/images/focus_left_b.png);
  width: 18px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  bottom: 18px;
  left: 70px;
  z-index: 10;
}

.swiper-container-p2 .next {
  background: url(http://www.people.com.cn/img/2016people/images/focus_right_b.png);
  width: 18px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  bottom: 18px;
  right: 70px;
  z-index: 10;
}

.swiper-container-p2 .swiper-pagination1 {
  display: none;
}

.swiper-container-p2 .num1 {
  color: #fff;
  display: block;
  font-size: 18px;
  position: absolute;
  left: 15%;
  bottom: 7px;
  line-height: 200%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

.swiper-container-p2 .num1 i em {
  color: #fff;
  margin-left: 2px;
}

.swiper-container-p2 .num1 i em.thisp {
  font-size: 28px;
  color: #e71f18;
  margin-right: 1px;
  margin-left: 0;
}
.swiper-panel {
  margin: 0 auto;
  margin-top: 30px;
  width: 1000px;
}

.swiper-panel h2,
.swiper-panel h2 a {
  display: block;
  color: #1c1b1b;
  font-size: 24px;
  line-height: 44px;
}

.swiper-panel .fl {
  width: 625px;
  height: 390px;
  background-color: #ccc;
}

.swiper-panel .fr {
  width: 360px;
  height: 390px;
  float: right;
  overflow: hidden;
}

.swiper-panel li,
.swiper-panel li a {
  color: #484848;
  font-size: 16px;
  line-height: 35px;
  height: 35px;
  overflow: hidden;
}

.swiper-panel li {
  padding-left: 15px;
  background-image: url(https://cunchu.site/upload/9e5aeff4f3bfcf87.png);
  background-repeat: no-repeat;
  background-position: left center;
}

.swiper-panel p {
  text-indent: 2em;
  font-size: 14px;
  line-height: 28px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: #333333;
}[o-hover="grow"] {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}
[o-hover="grow"]:hover, [o-hover="grow"]:focus, [o-hover="grow"]:active {
  transform: scale(1.1);
}

.card-list :after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.card-list {
  width: 1050px;
  height: auto;
  margin: 40px auto;
}

.card-list li {
  float: left;
  margin: 0 34px;
  background-color: white;
  box-shadow: 1px 1px 6px #ccc;
}

.card-list li img {
  width: 281px;
  height: 158px;
  display: block;
}

.card-list li p {
  font-size: 16px;
  text-align: center;
  line-height: 35px;
  overflow: hidden;
  height: 35px;
  color: black;
}

.card-list li a {
  display: block;
  width: 100%;
  height: 100%;
}
            [font="HYXuJingXingKaiW"] {
              font-family: 'HYXuJingXingKaiW';
            }
            @font-face {
              font-family: 'HYXuJingXingKaiW';
              src: url('../font/HYXuJingXingKaiW.eot');
              src: url('../font/HYXuJingXingKaiW.eot?#iefix') format('embedded-opentype'),
                url('../font/HYXuJingXingKaiW.woff') format('woff'),
                url('../font/HYXuJingXingKaiW.ttf')  format('truetype'),
                url('../font/HYXuJingXingKaiW.svg#MicrosoftYaHei') format('svg');
            }
          
.page2 {
  background-image: url('../resource/page2-bg.png');
}

.page2 .header1 {
  background: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
}

.page2 .card-box {
  position: absolute;
  width: 700px;
  height: 600px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.page2 .card-item {
  width: 471px;
  height: 691px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}

.page2 .card-1 {
  transform: rotate(3deg);
  transition: opacity 1.5s;
}

.page2 .card-2 {
  transform: rotate(-11deg);
  width: 445px;
  height: 651px;
  transition: opacity 1.5s;
}

.page2 .card-3 {
  width: 408px;
  height: 635px;
  cursor: pointer;
  transition: width 1.5s, height 1.5s;
}

.page2 .card-3 .show-image {
  transition: opacity 1.5s;
}

.page2 .bottom-menu {
  position: absolute;
  bottom: 20px;
  width: 70%;
  font-size: 30px;
  line-height: 120px;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: bottom 1.5s;
}

.page2 .bottom-menu .item {
  float: left;
  text-align: center;
  width: 16.6%;
  cursor: pointer;
  position: relative;
  color: #202020;
}

.page2 .bottom-menu .text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.page2 .bottom-menu .active-line {
  width: 60px;
  height: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  border-radius: 2px;
  background-color: transparent;
}

.page2 .bottom-menu .item-1.active {
  color: #4b563c;
}

.page2 .bottom-menu .item-1.active .active-line {
  background-color: #4b563c;
}

.page2 .bottom-menu .item-2.active {
  color: #d1b060;
}

.page2 .bottom-menu .item-2.active .active-line {
  background-color: #d1b060;
}

.page2 .bottom-menu .item-3.active {
  color: #80a5ef;
}

.page2 .bottom-menu .item-3.active .active-line {
  background-color: #80a5ef;
}

.page2 .bottom-menu .item-4.active {
  color: #477e6b;
}

.page2 .bottom-menu .item-4.active .active-line {
  background-color: #477e6b;
}

.page2 .bottom-menu .item-5.active {
  color: #ead197;
}

.page2 .bottom-menu .item-5.active .active-line {
  background-color: #ead197;
}

.page2 .bottom-menu .item-6.active {
  color: #a793a1;
}

.page2 .bottom-menu .item-6.active .active-line {
  background-color: #a793a1;
}

.page2 .bottom-menu .item-1:hover {
  color: #4b563c;
}

.page2 .bottom-menu .item-2:hover {
  color: #d1b060;
}

.page2 .bottom-menu .item-3:hover {
  color: #80a5ef;
}

.page2 .bottom-menu .item-4:hover {
  color: #477e6b;
}

.page2 .bottom-menu .item-5:hover {
  color: #ead197;
}

.page2 .bottom-menu .item-6:hover {
  color: #a793a1;
}

.page2 .left-big-font {
  position: absolute;
  left: 200px;
  font-size: 55px;
  top: -10%;
  bottom: 0;
  margin: auto;
  line-height: 50px;
  height: 50px;
  transition: top 1.5s;
}

.page2 .edit {
  display: none;
}

.page2 .right-logo {
  position: absolute;
  top: -5%;
  bottom: 0;
  margin: auto;
  right: 200px;
  transition: top 1.5s;
}

@-webkit-keyframes anni {
  0% {
    transform: rotate(-11deg);
    opacity: 1;
  }

  10% {
    transform: rotate(-20deg) translateY(-200px);
    opacity: 1;
  }

  50% {
    transform: rotate(-40deg) translateY(-800px);
    opacity: 0;
  }

  60% {
    transform: rotate(-40deg) translateY(600px);
    opacity: 0;
  }

  90% {
    transform: rotate(-20deg) translateY(200px);
    opacity: 1;
  }

  100% {
    transform: rotate(-11deg) translateY(0);
    opacity: 1;
  }
}

@keyframes anni {
  0% {
    transform: rotate(-11deg);
    opacity: 1;
  }

  10% {
    transform: rotate(-20deg) translateY(-200px);
    opacity: 1;
  }

  50% {
    transform: rotate(-40deg) translateY(-800px);
    opacity: 0;
  }

  60% {
    transform: rotate(-40deg) translateY(600px);
    opacity: 0;
  }

  90% {
    transform: rotate(-20deg) translateY(200px);
    opacity: 1;
  }

  100% {
    transform: rotate(-11deg) translateY(0);
    opacity: 1;
  }
}

.page2 .fly-ani {
  -webkit-animation: anni 1.5s 1 0s linear;
          animation: anni 1.5s 1 0s linear;
}

.page2 .card-item .show-image {
  width: 100%;
  height: 100%;
  display: block;
}

.page2 .page-show {
  display: none;
  position: absolute;
  left: -50%;
  top: 0;
  right: -50%;
  bottom: 0;
  margin: auto;
  width: 1050px;
  height: 900px;
  overflow: auto;
  overflow-x: hidden;
}

.page2 .page-show .title {
  background-image: url('../resource/title.png');
  height: 60px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.page2 .page-show .text {
  color: #0e0e0e;
  font-size: 18px;
  width: 800px;
  display: block;
  margin: 0 auto;
  line-height: 1.8;
  text-indent: 2em;
  margin-top: 30px;
}
.logo {
  position: absolute;
  left: -2%;
  right: 0;
  top: -160px;
  width: 2000px;
  height: 1000px;
  transition: All 2s;
  margin: 0 auto;
}

.logo .so-1 {
  cursor: pointer;
  z-index: 2;
  margin: auto;
  position: absolute;
  width: 2000px;
}

.logo .back {
  position: absolute;
  top: 210px;
  right: 226px;
  transition: opacity 1s;
  opacity: 0;
}
/* 页面切换动画 */
.o-page-scaleDownCenter {
	-webkit-animation: scaleDownCenter .4s ease-in both;
	-moz-animation: scaleDownCenter .4s ease-in both;
	animation: scaleDownCenter .4s ease-in both;
}

@-webkit-keyframes scaleDownCenter {
	to { opacity: 0; -webkit-transform: scale(.7); }
}
@-moz-keyframes scaleDownCenter {
	to { opacity: 0; -moz-transform: scale(.7); }
}
@keyframes scaleDownCenter {
	to { opacity: 0; transform: scale(.7); }
}
.o-page-scaleUpCenter {
	-webkit-animation: scaleUpCenter .4s ease-out both;
	-moz-animation: scaleUpCenter .4s ease-out both;
	animation: scaleUpCenter .4s ease-out both;
}
@-webkit-keyframes scaleUpCenter {
	from { opacity: 0; -webkit-transform: scale(.7); }
}
@-moz-keyframes scaleUpCenter {
	from { opacity: 0; -moz-transform: scale(.7); }
}
@keyframes scaleUpCenter {
	from { opacity: 0; transform: scale(.7); }
}
.o-page-delay400 {
	-webkit-animation-delay: .4s !important;
	-moz-animation-delay: .4s !important;
	animation-delay: .4s !important;
}

/* 页面切换动画 */
.o-page-rotateRightSideFirst {
	-webkit-transform-origin: 0% 50%;
	-webkit-animation: rotateRightSideFirst .8s both ease-in;
	-moz-transform-origin: 0% 50%;
	-moz-animation: rotateRightSideFirst .8s both ease-in;
	transform-origin: 0% 50%;
	animation: rotateRightSideFirst .8s both ease-in;
}

@-webkit-keyframes rotateRightSideFirst {
	40% { -webkit-transform: rotateY(15deg); opacity: .8; -webkit-animation-timing-function: ease-out; }
	100% { -webkit-transform: scale(0.8) translateZ(-200px); opacity:0; }
}
@-moz-keyframes rotateRightSideFirst {
	40% { -moz-transform: rotateY(15deg); opacity: .8; -moz-animation-timing-function: ease-out; }
	100% { -moz-transform: scale(0.8) translateZ(-200px); opacity:0; }
}
@keyframes rotateRightSideFirst {
	40% { transform: rotateY(15deg); opacity: .8; animation-timing-function: ease-out; }
	100% { transform: scale(0.8) translateZ(-200px); opacity:0; }
}
.o-page-moveFromRight {
	-webkit-animation: moveFromRight .6s ease both;
	-moz-animation: moveFromRight .6s ease both;
	animation: moveFromRight .6s ease both;
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveFromRight {
	from { -moz-transform: translateX(100%); }
}
@keyframes moveFromRight {
	from { transform: translateX(100%); }
}
.o-page-delay200 {
	-webkit-animation-delay: .2s !important;
	-moz-animation-delay: .2s !important;
	animation-delay: .2s !important;
}

.home p {
  font-size: 48px;
  text-align: center;
  width: 600px;
  line-height: 65px;
  color: #ba2607;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 587px;
}